1) Top/Bottom 5 product by Sales/Profit/Quantity Sold.
2) How do sales trends vary over time (daily, monthly, quarterly, annually) ?
3) Show relationship between sales & profit.
4) Compare sales/profit/quantity sold between any two periods selected by the user.
5) Average discount offered in each discount category.
6) Total number of orders.
7) Show Sales/Profit/Discount/Net Sales/All remaining fields for each order that could be filtered using visual filters. (Product/Date/Customer ID/Promotion Categories)8) Show sales by different cities.